<!--
  Generated template for the MyConnection page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>

      <ion-icon name="menu"></ion-icon>
      <ion-title>My Connection</ion-title>  
    </button>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="All">
        All
      </ion-segment-button>
      <ion-segment-button value="Favorite">
        Favorite
      </ion-segment-button>
      <ion-segment-button value="Group">
        Group
      </ion-segment-button>
      <ion-segment-button value="NewRequest">
        New Request
      </ion-segment-button>
    </ion-segment>

   
   </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="searchConnection($event)"
                   placeholder="Search">
    </ion-searchbar>
     <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  
    </ion-toolbar>
    
 

  
</ion-header>


<ion-content padding>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'All'">
        
      <ion-item-sliding *ngFor="let item of listConnectionItems; let i = index">
          
          <ion-item>
            
            <ion-avatar item-left>
              <img src="../../assets/icon/favicon.ico">
            </ion-avatar>
            <h3>({{ item.Main.FirstName }} {{ item.Main.LastName }})</h3> 
            <h3>({{ item.Address.City }} {{ item.Address.State }})</h3>
            <h3>({{ item.Contact.Mobile }})</h3>
            <h3>({{ item.Status }})</h3>
            <div *ngIf="item.Favorite == 1">
              <ion-icon ios="ios-star" md="md-star"></ion-icon>
            </div>

          </ion-item>
            
            
          <!--<div *ngIf="item.Status == 'Awaiting Response'">          
              -->      
                      <ion-item-options side="right">
                      
                        <button ion-button color="secondary" (click)="updateConnection(item.Id, 'Accept')">
                          <ion-icon name="ion-heart"></ion-icon>
                          Accept
                        </button>

                      

                      
                        <button ion-button color="secondary" (click)="updateConnection(item.Id, 'Reject')">
                          <ion-icon name="ion-heart"></ion-icon>
                          Reject
                        </button>

                      
<!--
                      </ion-item-options>
           </div>           
           

           <div *ngIf="item.Status != 'Awaiting Response'">   

                     
                    
              <ion-item-options side="right">-->
                        <button ion-button color="primary" (click)="schedule(item.Id)">
                          <ion-icon name="text"></ion-icon>
                          Schedule
                        </button>
                        
                       
                        <div *ngIf="item.Favorite == 0">
                          <button ion-button color="secondary" (click)="updateConnection(item.Id, 'Favorite')">
                           <ion-icon name="ion-heart"></ion-icon>
                              Favourite
                          </button>
                    
                        </div>

                        <div *ngIf="item.Favorite == 1">
                          <button ion-button color="secondary" (click)="updateConnection(item.Id, 'UnFavorite')">
                          <ion-icon name="ion-heart"></ion-icon>
                          UnFavourite
                        </button>

                        </div>
               
              </ion-item-options>
   <!--       </div> 
-->
          <ion-item-options side="left">
          <button ion-button color="primary" (click)="updateConnection(item.Id, 'Remove')">
            <ion-icon name="text"></ion-icon>
            Delete
          </button>
          <button ion-button color="secondary" (click)="call(item.Contact.Mobile)">
            <ion-icon name="call"></ion-icon>
            Call
          </button>
        </ion-item-options>
          
      </ion-item-sliding>
    </ion-list>
  
    <ion-list *ngSwitchCase="'Favorite'">
    <ion-item-sliding *ngFor="let item of listFavouriteConnectionItems; let i = index">
          
          <ion-item>
            
            <ion-avatar item-left>
              <img src="../../assets/icon/favicon.ico">
            </ion-avatar>
            <h3>({{ item.Main.FirstName }} {{ item.Main.LastName }})</h3> 
            <h3>({{ item.Address.City }} {{ item.Address.State }})</h3>
            <h3>({{ item.Contact.Mobile }})</h3>
            
            
          </ion-item>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="schedule(item.Id)">
                <ion-icon name="text"></ion-icon>
                Schedule
              </button>
              <button ion-button color="secondary" (click)="moreActionRight(item.Id)">
                <ion-icon name="call"></ion-icon>
                More
              </button>
              </ion-item-options>

              <ion-item-options side="left">
              <button ion-button color="primary" (click)="deleteConnection(item.Id)">
                <ion-icon name="text"></ion-icon>
                Delete
              </button>
              <button ion-button color="secondary" (click)="call(item.Contact.Mobile)">
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          
          </ion-item-sliding>

  </ion-list>

  <ion-list *ngSwitchCase="'NewRequest'">
    <ion-item-sliding *ngFor="let item of listNewConnectionItems; let i = index">
          
          <ion-item>
            
            <ion-avatar item-left>
              <img src="../../assets/icon/favicon.ico">
            </ion-avatar>
            <h3>({{ item.Main.FirstName }} {{ item.Main.LastName }})</h3> 
            <h3>({{ item.Address.City }} {{ item.Address.State }})</h3>
            <h3>({{ item.Contact.Mobile }})</h3>
            
            
          </ion-item>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="schedule(item.Id)">
                <ion-icon name="text"></ion-icon>
                Schedule
              </button>
              <button ion-button color="secondary" (click)="moreActionRight(item.Id)">
                <ion-icon name="call"></ion-icon>
                More
              </button>
              </ion-item-options>

              <ion-item-options side="left">
              <button ion-button color="primary" (click)="deleteConnection(item.Id)">
                <ion-icon name="text"></ion-icon>
                Delete
              </button>
              <button ion-button color="secondary" (click)="call(item.Contact.Mobile)">
                <ion-icon name="call"></ion-icon>
                Call
              </button>
            </ion-item-options>
          
          </ion-item-sliding>

  </ion-list>
  <ion-list *ngSwitchCase="'Group'">
    <ion-list-header>
      Adjust Text {{contrast}}
    </ion-list-header>
    <ion-item>
    <ion-range min="-200" max="200" (ionChange)="updateResults();" pin="true" [(ngModel)]="contrast" step="1" snaps="true" color="secondary">
      <ion-label range-left>-200</ion-label>
      <ion-label range-right>200</ion-label>
    </ion-range>
  </ion-item>

  </ion-list>
 </div>
</ion-content>
