<!--
  Generated template for the MySchedule page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>

      <ion-icon name="menu"></ion-icon>
        
    </button>
    
<ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="searchSchedule($event)"
                   placeholder="Search" showCancelButton="True" debounce="3000">
    </ion-searchbar>
     <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
    </ion-toolbar>
   </ion-navbar>
    
</ion-header>



<ion-content padding>
  <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="All">
        All
      </ion-segment-button>
      <ion-segment-button value="Flagged">
        Favourite
      </ion-segment-button>
        
    </ion-segment>  
   <div [ngSwitch]="segment">
        <ion-list *ngSwitchCase="'All'">
            
          <ion-item-sliding *ngFor="let item of listScheduleItems; let i = index">
              
              <ion-item detail-push>

                    <ion-grid>
                          

                          <ion-row>
                              
                              <ion-col col-85 justify-content-left>
                                  <h3>{{ item.ScheduleDetails.Description }}
                                    <br> {{ item.ScheduleDetails.StartTime }}
                                    <br> {{ item.ScheduleDetails.EndTime }}     </h3> 
                              </ion-col>

                              <ion-col col-15 justify-content-right>
                                <div *ngIf="item.Status == 'Awaiting Response'">
                                    
                                  <button align-right ion-button clear (click)="createSchedule(item.Id, item.Main.FirstName, item.Main.LastName)">
                                    <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
                                  </button>
                                  
                                </div>

                                <div *ngIf="item.Status == 'Accepted'">
                                    
                                  
                                  <button align-right ion-button clear (click)="createSchedule(item.Id, item.Main.FirstName, item.Main.LastName)">
                                    <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                                  </button>  
                                </div>
                              </ion-col>
                          </ion-row>

                         
                  </ion-grid>
              </ion-item>
                
               <ion-item-options side="right">
                    
                      <button ion-button color="secondary">
                        <ion-icon name="ion-heart"></ion-icon>
                        Accept
                      </button>

           
              </ion-item-options>
      
                
          </ion-item-sliding>
        </ion-list>
   </div>
</ion-content>
