#new build doc
#Install latest Pyton 3.6.1
#download and install python
pip install flask
pip install pymongo
pip install flask_cors
pip install bcrypt
pip install pytz
pip install tzlocal

#### Following is for testing purpose only, not needed for UConnect
pip install persist-queue
pip install daemon
pip install APscheduler
pip install sqlalchemy
pip install djangorestframework
pip install markdown       # Markdown support for the browsable API.
pip install django-filter  # Filtering support

# Django config
# create project directory
django-admin startproject port8
